@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

* {
  font-family: "Mouse Memoirs", sans-serif;
}

.header {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.header h1 {
  text-shadow: blue 0.1em 0.1em 0.2em;
  color: yellow;
}
.header-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

a.active.myActive {
  color: yellow;
  text-shadow: blue 0.1em 0.1em 0.2em;
}

.btn-language {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
}
.poke-list {
  column-count: 3;
  list-style: none;
}
.poke-list li {
  display:  flex;
  justify-content: flex-start;

}
.poke-list li div {
  align-items: center;
  
  height: 64px;
  vertical-align: middle;
}
.poke-list li img {
  height: 64px;
  max-width: 64px;
  transition: transform 0.6s;
}
.poke-list li img:hover {
  transform: scale(1.9);
  
}
.poke-list li div:nth-child(2) {
  line-height: 64px;
  
  
}
.poke-list li div:nth-child(1) {
  
  width: 80px;
  
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar > p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
}

.main {
  text-align: center;
  font-size: 2rem;
  min-height: 50vh;
  width: 80%;
}

.pokeball-icon {
  width: 100px;
  height: 100px;
}

.footer {
  font-size: 1.5rem;
}

.pokemonDetails {
  list-style: none;
}

hr {
  width: 95%;
  height: 1px;
  background: yellow;
  box-shadow: blue 0.1em 0.1em 0.2em;
}

.partyPic {
  border-radius: 10%;
}

#pokeball {
  height: 50px;
}
